In [35]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [44]:
dj = pd.read_csv("re_dj.csv", encoding = 'cp949')

In [45]:
display(dj.head())
display(dj.shape)

  SIDO_NM SGNG_NM     입장객수  공항수  면세점개수  쇼핑장소개수  버스터미널개수  병원수
0     강원도     춘천시  7838908    0      0       0       52   97
1     강원도     원주시  2487501    0      0       1       52   97
2     강원도     강릉시  2790413    0      0       0       52   97
3     강원도     동해시   857739    0      0       0       52   97
4     강원도     태백시  1267122    0      0       0       52   97

(164, 8)

In [46]:
yeon = pd.read_csv("re_yeon.csv", encoding = 'cp949')

In [47]:
display(yeon.head())
display(yeon.shape)

  SIDO_NM SGNG_NM  2017_사업체수  2017_종사자수  2017_소비자물가지수  자연휴양림  문화재
0     강원도     강릉시     140071     614742        105.42      2  129
1     강원도     고성군     140071     614742        105.42      0   18
2     강원도     동해시     140071     614742        105.42      0   22
3     강원도     삼척시     140071     614742        105.42      1   45
4     강원도     속초시     140071     614742        105.42      0   28

(164, 7)

In [54]:
yeon.isnull().sum()

SIDO_NM         0
SGNG_NM         0
2017_사업체수       0
2017_종사자수       0
2017_소비자물가지수    0
자연휴양림           0
문화재             0
dtype: int64

In [48]:
yun = pd.read_csv("re_yun.csv", encoding = 'cp949')

In [49]:
display(yun.head())
display(yun.shape)

  SIDO_NM SGNG_NM  지하철역  기차역  지역축제   숙박업소    주차장             관광예산     해시태그
0     강원도     강릉시   NaN  4.0   4.0  385.0  101.0   63,261,000,000  2254990
1     강원도     고성군   NaN  1.0   1.0   81.0    5.0   63,261,000,000   312854
2    전라남도     강진군   NaN  NaN   5.0   35.0    8.0  236,100,000,000    74161
3     경기도     가평군   NaN  4.0   NaN  276.0    9.0   44,644,000,000  1306986
4     강원도     동해시   NaN  6.0   NaN  117.0   28.0   63,261,000,000   893011

(164, 9)

In [50]:
yun = yun.fillna(0)

In [51]:
m1 = pd.merge(yun, yeon, on=['SIDO_NM','SGNG_NM'], how='left')

In [52]:
m2 = pd.merge(m1, dj, on=['SIDO_NM','SGNG_NM'], how='left')

In [53]:
m2.isnull().sum()

SIDO_NM         0
SGNG_NM         0
지하철역            0
기차역             0
지역축제            0
숙박업소            0
주차장             0
관광예산            0
해시태그            0
2017_사업체수       2
2017_종사자수       2
2017_소비자물가지수    2
자연휴양림           2
문화재             2
입장객수            0
공항수             0
면세점개수           0
쇼핑장소개수          0
버스터미널개수         0
병원수             0
dtype: int64

In [70]:
m2 = m2.fillna(0)

In [71]:
writer = pd.ExcelWriter('region.xlsx', engine='xlsxwriter')

In [72]:
m2.to_excel(writer, sheet_name='Sheet1')

In [73]:
writer.close()